conda install cudatoolkit=11.3
conda install pytorch torchvision torchaudio cudatoolkit=11.3 -c pytorch

MONAI installation: https://docs.monai.io/en/stable/installation.html

monai==0.8.0
matplotlib==3.5.1
